<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand ml-3" href="/" >Homepage</a>
    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {{#if user}}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{{user.avatar}}" alt="" class="rounded-circle" style="width: 30px; height: 30px;">
                        <span style="color: white;">{{user.name}}</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/users/{{user._id}}/info">Thông tin cá nhân</a> 
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/users/{{user._id}}/posts">Bài viết của tôi</a> 
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/users/{{user._id}}/create">Tạo bài viết mới</a> 
                    <div class="dropdown-divider"></div>
                    {{#if (checkRoleAdmin user.role) }}
                    <a class="dropdown-item" href="/managers/pendingPost" style="color: rgb(0, 4, 255);">Trang quản lý</a>
                    <div class="dropdown-divider"></div>
                    {{/if}}
                    <a class="dropdown-item" href="/sign_out">Đăng xuất</a>

                    </div>
                </li>
            </ul>
        </div>
    {{else}}
    <div class="ml-auto">
         <button type="button" class="btn btn-primary mr-1"><a href="/sign_in" style="text-decoration: none; color: white;">Đăng nhập</a></button>
         <button type="button" class="btn btn-light border rounded ml-1"><a href="/sign_up" style="text-decoration: none; color: #007BFF;">Đăng ký</a></button>
    </div>
    {{/if}}
</nav>